
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root {
    --transitionDefault: .3s;
    --primary: #fff;
    --primaryLight: rgb(243, 243, 243);
    --primaryReverse: #000000;
    --secondary: #02ac02;
    --accentPrimary: #02ac02;
    --accentSecondary: #02ac02;
    --indent: 64px;
    --header: 50px
}

.visible-md,
.visible-sm {
    display: none
}

.center {
    margin: 0 auto;
    width: 1120px;
    max-width: 100%;
    position: relative
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    display: flex;
    flex-direction: column;
}

html {
    min-height: 100%;
    scroll-behavior: smooth
}

html.scroll-behavior-off {
    scroll-behavior: auto
}

body {
    color: var(--primaryReverse);
    min-width: 320px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    background-color: var(--primary)
}

::selection {
    color: var(--primaryReverse);
    background-color: var(--secondary)
}

.wrapper {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

.main {
    flex-shrink: 0;
    overflow: hidden
}

img,
svg {
    display: block;
    position: relative
}

svg {
    fill: var(--accentPrimary);
    transition: var(--transitionDefault)
}

img {
    border: 0
}

.fade-in {
    opacity: .001;
    transform: translateY(40px);
    transition: transform 1.5s cubic-bezier(.19, 1, .22, 1), opacity 1s cubic-bezier(.19, 1, .22, 1);
    will-change: opacity, transform
}

.fade-in.fade-in--left {
    transform: translateX(-40px)
}

.fade-in.fade-in--right {
    transform: translateX(40px)
}

.fade-in.is-show {
    transform: translateY(0);
    opacity: 1
}

.hash {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--secondary);
    margin-bottom: 26px
}

.hash::before {
    width: 39px;
    height: 2px;
    content: '';
    margin-right: 8px;
    background-color: var(--secondary);
    border-radius: 1px;
    position: relative;
    top: -1px
}

.h1,
.h2,
.h3 {
    font-size: 80px;
    font-weight: 700;
    line-height: 64px
}

.h2,
.h3 {
    font-size: 50px;
    line-height: 56px
}

.h3 {
    font-size: 34px;
    line-height: 40px
}

.hide {
    display: none !important
}

.visuallyhidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important
}

.btn,
.button {
    border: 0;
    font-family: inherit;
    background-color: transparent;
    transition: var(--transitionDefault);
    cursor: pointer;
    user-select: none;
    position: relative;
    color: transparent;
    text-align: center;
    white-space: nowrap;
    display: block;
    text-decoration: none
}

.button {
    border-radius: 0;
    font-size: 0
}

.btn:focus,
.button:focus {
    outline: 0
}

.btn:hover,
.button:hover {
    cursor: pointer
}

.btn:disabled,
.button:disabled {
    pointer-events: none
}

.btn {
    padding: 0 45px;
    height: 68px;
    font-size: 22px;
    line-height: 68px;
    font-weight: 700;
    border-radius: 34px
}

.btn--grad {
    background-color: var(--primaryReverse);
    color: var(--primary);
    box-shadow: 0 10px 22px rgba(43, 230, 255, .14);
}

.btn--grad span {
    display: block;
    /* padding-left: 32px; */
    position: relative;
    overflow: hidden;
    border-radius: 34px;
    /* z-index: 1; */
    min-width: 250px;
    font-size: 18px;
}

.btn--grad span::before {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    content: '';
    z-index: -1;
    transition: transform var(--transitionDefault);
    /* background-image: linear-gradient(53deg, var(--accentSecondary) 55%, var(--accentPrimary) 106%) */
}

.btn--whitelist_center {
    color: var(--accentSecondary);
    background-color: var(--primaryReverse);
}

.btn--demo {
    width: 270px;
    padding: 0
}

.btn--demo img {
    position: absolute;
    width: 54px;
    /* height: 67px; */
    top: 50%;
    transform: translateY(-50%);
    left: 38px;
    z-index: 2
}

.btn--violet {
    color: rgba(255, 255, 255, .8);
    background-color: var(--secondary);
}
.btn--black{
    color: var(--primaryLight);
    background-color: var(--primaryReverse);
}

.btn--whitelist {
    color: rgba(255, 255, 255, .8);
    background-color: #6f43be;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    width: 210px;
    padding: 0;
    font-size: 18px
}

.btn--white {
    color: var(--primary);
    background-color: var(--primaryReverse);
}

.btn--play,
.input {
    transition: var(--transitionDefault)
}

.btn--play {
    position: absolute;
    width: 136px;
    height: 136px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    border-radius: 50%;
    background-image: linear-gradient(47deg, rgba(158, 66, 201, .9) 16%, rgba(77, 234, 255, .7) 108%);
    margin: auto
}

.btn--play svg {
    fill: var(--primaryReverse);
}

.btn--play:hover {
    background-color: var(--secondary)
}

.input {
    height: 90px;
    line-height: 56px;
    padding: 16px 24px;
    font-size: 22px;
    color: var(--secondary);
    width: 100%;
    font-family: inherit;
    position: relative;
    appearance: none;
    display: block;
    filter: none;
    -webkit-transform: translateZ(0);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid var(--secondary)
}

.input::placeholder {
    opacity: .5
}

.input::-ms-clear {
    display: none
}

.input:focus {
    outline: 0
}

.input:disabled {
    pointer-events: none
}

.input:invalid {
    box-shadow: none
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.menu__item {
    margin: 0 18px;
    position: relative;
}
.menu__item_signAndGetStart{
    margin-top: 16px;
}
.menu__item_signAndGetStart .menu__item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid var(--accentSecondary);
    margin: 8px !important;
}
.menu__item_signAndGetStart .menu__item .menu__link{
    color: var(--accentSecondary);
}
.menu__item_signAndGetStart .menu__item.fill{
    width: 100%;
    height: 40px;
    background-color: var(--accentSecondary);
    display: flex;
    align-items: center;
    border: none;
}
.menu__item_signAndGetStart .menu__item.fill .menu__link{
    color: var(--primary);
}
.getStartedBtn2{
    display: none !important;
}

.menu__link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #000;
    transition: var(--transitionDefault);
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}
.header2 .menu__link{
    color: #fff;
}
.footer .menu__link{
    color: var(--accentPrimary);
}

.menu__link:hover,
.social__link:hover {
    border-bottom-color: var(--secondary)
}

.menu__item_with_arrow{
    position: relative;
    width: 130px;
}
.menu__link_with_arrow{
    position: relative;
    z-index: 1;
    background-color: white;
    /* display: block; */
    /* width: 100%; */
}
.menu__item_arrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none
}

.social__item {
    margin: 0 18px
}

.social__link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: var(--secondary);
    transition: var(--transitionDefault);
    border-bottom: 2px solid transparent
}

.top_info_block {
    min-height: 40px;
    width: 100%;
    background-color: #000;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px
}

.header {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.header .center, .footer .center {
    display: flex;
    align-items: center;
    width: 1440px;
    padding: 0 var(--header);
    justify-content: space-between;
}

.header__logo {
    flex-shrink: 0
}
.header__logo_image{
    width: 150px;
    margin-left: -10px;
    image-rendering: -webkit-optimize-contrast;
}
.header__logo_image.desktop.hover{
    display: none;
}
.logo:hover .header__logo_image.desktop{
    display: none;
}
.logo:hover .header__logo_image.desktop.hover{
    display: block;
}
.header__logo_image.mobile{
    display: none;
    width: 50px;
}
.header__menu.mobile{
    display: none;
}
.btn-menu-toggle {
    display: none;
}

.footer {
    background-color: #13131f;
}

.footer .center {
    display: flex;
    align-items: start;
    justify-content: space-between
}

.footer__logo {
    flex-shrink: 0;
    width: 170px
}

.footer__copyright {
    flex-shrink: 0;
    letter-spacing: -.03em;
    font-size: 12px;
    color: var(--primary);
    position: relative;
    width: 190px;

    display: flex;
    align-items: center;
}

.modal {
    flex-grow: 1;
    /* position: relative; */
    z-index: 10;
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 58px
}

.modal.is-video .modal__box {
    position: static
}

.modal__box,
.modal__item {
    max-width: 100%;
    position: relative
}

.modal__item--thank {
    width: 544px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--secondary);
    padding: 83px
}

.modal__item--thank p {
    font-size: 20px;
    line-height: 24px;
    margin: 17px auto 3px;
    max-width: 300px
}

.modal__item--video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    /* max-height: 90%; */
    display: flex;
    justify-content: center;
}

.modal__item--video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    border: 0;
    background-color: #000
}

.modal__item--thank .modal__close-btn {
    top: 30px;
    right: 28px
}

.modal__item--thank:not(.visuallyhidden)~.modal__close-btn {
    display: none
}

.modal__close-btn {
    position: absolute;
    top: var(--indent);
    right: var(--indent)
}

.modal__close-btn svg {
    fill: none
}

.modal-show .modal {
    display: flex
}

.modal-show .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none
}

.modal-show .wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 9;
    opacity: .8;
    background-color: #000
}

.first-screen {
    padding: 220px 0 150px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center
}

.first-screen::before {
    position: absolute;
    top: 188px;
    left: -356px;
    content: '';
    width: 446px;
    height: 446px;
    border-radius: 50%;
    border: 2px solid var(--secondary)
}

.first-screen__title {
    max-width: 640px;
    margin-bottom: 44px
}

.typewriterContainer,
.first-screen__intro_deck {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    align-items: center;
    max-width: 600px;
}
.typewriterContainer{
    margin-bottom: 72px;
    display: block;
}
.first-screen__desc {
    display: unset;
}

.first-screen__intro_deck {
    padding-top: 20px
}

.first-screen__intro_deck .a {
    color: var(--primaryReverse);
}

.first-screen__btns {
    display: flex
}

.first-screen__btns .btn {
    margin-right: 18px
}

.first-screen__scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px
}

.first-screen__scroll .center {
    display: flex;
    margin-top: 20px
}

.first-screen__scroll svg {
    fill: var(--secondary)
}

.first-screen__img img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover
}

.about {
    padding: 90px 0 0
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -16px -16px;
    list-style: none
}

.about__ico,
.about__item {
    background-color: var(--primaryLight);
}

.about__item {
    margin: 16px;
    padding: 38px 40px 48px;
    width: calc(100%/3 - 32px);
    font-size: 16px;
    border-radius: 18px;
    line-height: 22px;
    color: var(--primaryReverse);
}

.about__ico {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px
}

.about__head {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px
}

.try-demo {
    margin: 255px 0 0;
    padding: 85px 0;
    background-color: var(--accentSecondary)
}

.try-demo__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}
.try-demo__box__each{
    background-color: var(--primaryLight);
    min-height: 200px;
    
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.try-demo__box__each p{
    flex: 1;
}
.try-demo__box__each img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}
.try-demo__button{
    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--primaryReverse);
    text-decoration: none;
    text-align: center;
    color: var(--primary);
    display: block;
    width: fit-content;
    margin: auto;
    
}
.try-demo__button.dim{
    opacity: .4;
    cursor: not-allowed;
}

.try-demo__content {
    margin-left: 64px;
    width: 360px;
    flex-shrink: 0
}

.try-demo__img {
    position: relative;
    flex-grow: 1;
    pointer-events: none
}

.roadmap__thead::after,
.try-demo__img img {
    position: absolute;
    left: 0;
    bottom: -30px
}

.try-demo__btn {
    display: flex;
    margin-top: 35px
}

.try-demo__btn .btn {
    width: 270px;
    padding-right: 68px
}

.try-demo__btn .btn::after {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    right: 54px;
    bottom: 0;
    margin: auto;
    content: '';
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Ccircle cx='13' cy='13' r='13' fill='%2300aa00' opacity='0.16'/%3E%3Ccircle cx='13' cy='13' r='7' fill='none' stroke='%2300aa00' opacity='0.5'/%3E%3Ccircle cx='13' cy='13' r='4' fill='%2300aa00'/%3E%3C/svg%3E%0A")
}

.roadmap {
    padding: 146px 0;
    padding-bottom: 0;
}

.roadmap__table {
    margin: 55px -32px 0 0;
    padding: 32px 0 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='436' height='42' viewBox='0 0 436 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0V900' stroke='%2300aa00' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M219 0V900' stroke='%2300aa00' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M435 0V900' stroke='%2300aa00' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-y;
    background-position: 373px -7px
}

.roadmap__row {
    display: flex;
    margin: 71px 0
}
.roadmap__row:last-child{
    margin-bottom: 0;
}

.roadmap__row--q1-2021 {
    margin-top: 0 !important
}

.roadmap__row--q2-2022 {
    margin-bottom: 0 !important
}

.roadmap__thead {
    flex-shrink: 0;
    width: 160px;
    position: relative
}

.roadmap__thead::after {
    width: 33px;
    height: 5px;
    content: '';
    bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%2300aa00' rx='2.5'/%3E%3C/svg%3E")
}

.roadmap__row--q1-2021 .roadmap__thead {
    color: var(--secondary);
}

.roadmap__row--q1-2021 .roadmap__tbody {
    background-color: var(--secondary)
}

.roadmap__row--q1-2021 .roadmap__thead::after,
.roadmap__row--q1-2022 .roadmap__thead::after,
.roadmap__row--q2-2021 .roadmap__thead::after,
.roadmap__row--q2-2022 .roadmap__thead::after,
.roadmap__row--q3-2021 .roadmap__thead::after,
.roadmap__row--q4-2021 .roadmap__thead::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%2300aa00' rx='2.5'/%3E%3C/svg%3E");
    bottom: -8px;
}

.roadmap__row--q2-2022 .roadmap__thead::after {
    width: 66px
}

.roadmap__row--q2-2021 .roadmap__thead::after {
    width: 66px
}

.roadmap__row--q3-2021 .roadmap__thead::after {
    width: 99px
}

.roadmap__row--q4-2021 .roadmap__thead::after {
    width: 132px
}

.roadmap__year {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary)
}

.roadmap__quarter {
    font-weight: 700;
    font-size: 80px;
    line-height: 82px
}

.roadmap__tbody {
    display: flex;
    background-color: var(--primaryLight);
    flex-grow: 1;
    border-radius: 18px
}

.roadmap__td {
    font-size: 14px;
    line-height: 20px;
    /* flex-grow: 1;
    flex-shrink: 0; */
    padding: 18px 18px 18px 55px;
    width: 216px;
    display: flex;
    align-items: center
}

.roadmap__td:nth-child(2) {
    padding-left: 46px
}

.roadmap__td:last-child {
    width: 344px;
    padding-left: 85px
}

.token {
    padding: 142px 0
}

.token__pic {
    position: absolute;
    top: -77px;
    right: 165px
}

.token__row {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin-top: 175px;
    text-align: center;
    /*margin-right: -43px;*/
    flex-wrap: wrap;
}

.token__col{
    margin-bottom: 16px;
    width: 100%;
}
.token__col img{
    max-width: 100%;
    width: 100%;
}

.token__col .h3 {
    margin-bottom: 36px
}

.token__col:first-child .h3 {
    padding-right: 68px;
    margin-bottom: 43px
}

.token__tabs {
    display: none
}

.token__btn-tab {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    color: var(--primaryReverse);
    height: 44px
}

.token__btn-tab.is-active {
    background-color: var(--secondary)
}

.join-demo {
    margin: 80px 0 56px;
    padding: 85px 0;
    background-color: var(--accentSecondary)
}

.join-demo__box {
    
}

.join-demo__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.join-demo__text{
    font-size: 28px;
    font-weight: bold;
    margin: 16px 0;
}
.join-demo__btn {
    display: flex;
    margin: 16px 0;
    margin-left: 32px;
}

.join-demo__btn .btn {
    width: 270px;
    padding-right: 68px;
}

.join-demo__btn .btn::after {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    right: 54px;
    bottom: 0;
    margin: auto;
    content: '';
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Ccircle cx='13' cy='13' r='13' fill='%2300aa00' opacity='0.16'/%3E%3Ccircle cx='13' cy='13' r='7' fill='none' stroke='%2300aa00' opacity='0.5'/%3E%3Ccircle cx='13' cy='13' r='4' fill='%2300aa00'/%3E%3C/svg%3E%0A")
}

.team {
    padding: 90px 0 32px
}

.team__center {
    width: 1220px
}
.team__list{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 16px;
    /* scroll-behavior: smooth; */
}
.team__list__block{
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    grid-gap: .5rem;
    padding: 40px 20px;
}
.team__member{
    width: 100%;
    position: relative;
    height: fit-content;
}
.team__member::before, .team_member_url{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    transform: translate(10%, -40%);
    background-size: contain;
    background-color: var(--secondary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cpath fill='%23fff' d='M24.85 39.19c0 .45-.36.81-.81.81h-3.48a.81.81 0 01-.81-.81V24.73c0-.45.36-.81.81-.81h3.48c.45 0 .81.36.81.8V39.2zM22.3 22.55a3.29 3.29 0 01-3.3-3.27A3.29 3.29 0 0122.3 16c1.82 0 3.3 1.47 3.3 3.28a3.29 3.29 0 01-3.3 3.27zM43 39.25c0 .42-.34.75-.75.75h-3.73a.75.75 0 01-.75-.75v-6.78c0-1.01.3-4.43-2.66-4.43-2.3 0-2.76 2.34-2.85 3.4v7.81c0 .42-.34.75-.75.75h-3.6a.75.75 0 01-.76-.75V24.66c0-.4.34-.74.75-.74h3.6c.42 0 .76.33.76.74v1.26c.85-1.26 2.11-2.24 4.8-2.24 5.97 0 5.94 5.53 5.94 8.58v7z'/%3E%3C/svg%3E");
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    z-index: 1;
    cursor: pointer;
}
.team__member__image-container{
    max-width: 100%;
    position: relative;
    padding-bottom: 100%;
    background-color: var(--primaryLight);
}
.team__member__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.team_member_name{
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    margin-top: 4px;
}
.team_member_title{
    text-align: center;
    line-height: 18px;
}


.cases {
    padding: 80px 0
}

.cases__img {
    margin: 40px 0
}

.mobile-app {
    margin: 156px 0 0;
    background-color: var(--accentSecondary)
}

.mobile-app__box {
    display: flex
}

.mobile-app__content {
    margin-left: 64px;
    width: 500px;
    flex-shrink: 0;
    padding: 112px 0
}

.mobile-app__content .hash {
    margin-bottom: 36px;
    --secondary: var(--primaryReverse);
}

.mobile-app__text {
    font-size: 20px;
    line-height: 24px;
    margin: 18px 0 4px
}

.mobile-app__img {
    position: relative;
    flex-grow: 1;
    pointer-events: none
}

.mobile-app__img-phone {
    position: absolute;
    left: 96px;
    bottom: 0;
    max-height: 500px;
}

.mobile-app__img-purpur {
    bottom: 14px;
    left: 316px;
    position: absolute
}

.mobile-app__img-gold {
    bottom: 194px;
    left: 0;
    position: absolute
}

.subscribe {
    padding: 162px 0 140px
}

.subscribe__fieldset {
    position: relative;
    margin-top: 30px
}

.subscribe__fieldset .input {
    padding-right: 180px
}

.subscribe__fieldset .input--invalid+.btn {
    color: var(--secondary);
    background-color: rgba(157, 96, 255, .2)
}

.subscribe__fieldset .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* width: 163px; */
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    margin: auto
}

@media (min-width:1250px) {
    .fade-in.fade-in--100 {
        transition-delay: .1s
    }

    .fade-in.fade-in--200 {
        transition-delay: .2s
    }

    .fade-in.fade-in--300 {
        transition-delay: .3s
    }

    .fade-in.fade-in--400 {
        transition-delay: .4s
    }

    .fade-in.fade-in--500 {
        transition-delay: .5s
    }

    .fade-in.fade-in--600 {
        transition-delay: .6s
    }

    .fade-in.fade-in--700 {
        transition-delay: .7s
    }

    .fade-in.fade-in--800 {
        transition-delay: .8s
    }

    .btn--grad:hover span::before {
        transform: translateX(-40%)
    }

    .btn--whitelist_center:hover {
        color: var(--secondary)
    }

    .btn--violet:hover,
    .btn--whitelist:hover {
        color: var(--primaryReverse);
        background-color: var(--secondary)
    }

    .btn--white:hover {
        color: var(--secondary)
    }

    .header__logo {
        width: 140px
    }

    .footer .center {
        width: 1940px;
        padding: 58px 64px
    }

    .first-screen__img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 176px;
        right: 0;
        bottom: 0
    }

    .subscribe__box {
        display: flex;
        justify-content: center;
    }

    .subscribe__form {
        width: 672px;
        margin-top: 16px
    }

    .subscribe__fieldset {
        margin-top: 45px;
        max-width: 544px
    }
}

@media (max-width:1335px) {
    .first-screen::before {
        display: none
    }

    .cases__img img {
        max-width: 100%;
        object-fit: contain
    }
}

@media (max-width:1249px) {
    .hidden-md {
        display: none !important
    }

    .visible-md {
        display: block
    }

    .center {
        width: 768px;
        padding: 0 var(--indent)
    }

    /* .main {
        margin-top: -512px;
        padding-top: 512px
    } */

    .fade-in {
        transition-delay: .2s
    }

    .hash {
        margin-bottom: 20px
    }

    .h1 {
        font-size: 50px;
        line-height: 56px
    }

    .header .center, .footer .center {
        padding: 0 34px;
        justify-content: space-between
    }

    .header__menu,
    .header__social,
    .header__social-links {
        margin-right: -20px
    }

    .footer__logo {
        padding-bottom: 10px
    }

    .footer__menu {
        /* margin-right: -64px */
    }

    .footer__menu .menu__item {
        margin: 0 0 0 36px
    }

    .footer__copyright {
        width: 100%;
        margin-top: 12px
    }

    .modal__close-btn {
        --indent: 16px
    }

    .first-screen {
        padding: 161px 0 96px;
        display: block;
        min-height: 0
    }

    .first-screen__title {
        margin-bottom: 26px
    }

    .typewriterContainer {
        margin-bottom: 54px
    }

    .first-screen__intro_deck {
        margin-bottom: 54px;
        padding-top: 0
    }

    .first-screen__btns {
        margin-bottom: 50px
    }

    .first-screen__btns .btn {
        margin-right: 26px
    }

    .first-screen__scroll {
        display: none
    }

    .first-screen__img {
        position: relative;
        height: 500px;
        width: 768px;
        margin: auto;
        overflow: hidden;
        border-radius: 18px
    }

    .about {
        padding-top: 50px
    }

    .about__list {
        margin: 38px -10px
    }

    .about__item {
        margin: 10px;
        padding-right: 20px;
        width: calc(100%/2 - 20px)
    }

    .about__head {
        font-size: 30px
    }

    .try-demo {
        margin-top: 166px
    }

    .try-demo__content {
        margin: 0
    }

    .try-demo__img {
        position: absolute;
        top: -300px;
        left: 365px;
        right: -100vw;
        bottom: -40px;
        overflow: hidden
    }

    .try-demo__img img {
        bottom: 0
    }

    .roadmap {
        margin: 70px 0 60px;
        padding: 50px 0;
        padding-bottom: 0;
    }

    .roadmap__table {
        margin: 30px -32px;
        padding: 31px 0;
        background-position: 240px 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='282' height='786' fill='none' viewBox='0 0 282 786'%3E%3Cpath stroke='%2300aa00' stroke-dasharray='16 26' stroke-opacity='.2' stroke-width='2' d='M1 0v786M141 0v786M281 0v786'/%3E%3C/svg%3E")
    }

    .roadmap__row {
        margin: 44px 0
    }

    .roadmap__thead {
        width: 96px
    }

    .roadmap__thead::after {
        width: 18px;
        height: 4px;
        bottom: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='4' viewBox='0 0 18 4'%3E%3Crect width='14' height='4' fill='%2300aa00' rx='2'/%3E%3C/svg%3E")
    }

    .roadmap__row--q1-2021 .roadmap__thead::after,
    .roadmap__row--q1-2022 .roadmap__thead::after,
    .roadmap__row--q2-2021 .roadmap__thead::after,
    .roadmap__row--q2-2022 .roadmap__thead::after,
    .roadmap__row--q3-2021 .roadmap__thead::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='4' viewBox='0 0 18 4'%3E%3Crect width='14' height='4' fill='%2300aa00' rx='2'/%3E%3C/svg%3E")
    }

    .roadmap__row--q2-2022 .roadmap__thead::after {
        width: 36px
    }

    .roadmap__row--q2-2021 .roadmap__thead::after {
        width: 36px
    }

    .roadmap__row--q3-2021 .roadmap__thead::after {
        width: 54px
    }

    .roadmap__row--q4-2021 .roadmap__thead::after {
        width: 72px
    }

    .roadmap__year {
        margin: 4px 0 8px
    }

    .roadmap__quarter {
        font-size: 50px;
        line-height: 56px
    }

    .roadmap__td {
        /* font-size: 16px; */
        /* line-height: 22px; */
        padding: 22px 12px 22px 30px;
        width: 140px;
        min-height: 110px;
        flex-grow: 0
    }

    .roadmap__td:last-child {
        width: auto;
        padding-left: 40px;
        /* flex-grow: 1 */
    }

    .token {
        padding: 50px 0
    }

    .token__pic {
        width: 296px;
        height: 252px;
        top: -77px;
        left: 412px;
        object-fit: contain
    }

    .token__row {
        margin: 128px -34px 0;
        display: block
    }

    .token__row img {

    }

    .token__col .h3 {
        margin-bottom: 28px
    }

    .token__col:first-child {
        /* margin-bottom: 72px */
    }

    .token__col:first-child .h3 {
        padding-right: 0;
        margin-bottom: 20px
    }

    
    .team {
        padding: 50px 0
    }

    .cases {
        padding: 50px 0
    }

    .cases__img img {
        width: auto;
        height: auto
    }

    .mobile-app {
        margin-top: 143px
    }

    .mobile-app__content {
        padding: 80px 0;
        margin: 0;
        width: 325px
    }

    .mobile-app__content .hash {
        margin-bottom: 30px
    }

    .mobile-app__text {
        margin: 14px 0 0;
        max-width: 180px
    }

    .mobile-app__img {
        position: absolute;
        top: -128px;
        left: 310px;
        right: 0;
        bottom: 0;
        overflow: hidden
    }

    .subscribe {
        padding: 120px 0 148px
    }

    .subscribe__img {
        display: none
    }


    /* header */
    .header .menu{
        display: block;
        width: 100%;
    }
    .header__menu.desktop .menu{
        display: none;
    }

    .header .menu__item {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        width: auto !important;
    }

    .header .menu__link {
        /* font-size: 22px */
    }

    .header .social__item {
        margin: 40px 20px;
        display: flex;
        justify-content: center
    }

    .header .social__link {
        font-size: 22px
    }

    .header {
        padding: 0
    }

    .header .center, .footer .center {
        padding: 0 var(--indent)
    }

    .header__logo svg {
        width: 80px;
        height: 29px
    }

    .header__menu,
    .header__social {
        display: none
    }

    .header__social-links {
        top: 0
    }

    .btn-menu-toggle {
        display: flex;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        right: 14px;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .btn-menu-toggle__line {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: black;
        transform: rotate(0deg);
        will-change: transform;
        transition: var(--transitionDefault);
    }
    .header2 .btn-menu-toggle__line{
        background-color: var(--primary);
    }
    .btn-menu-toggle__line--top{
        left: 0px;
    }
    .btn-menu-toggle__line--center{

    }
    .btn-menu-toggle__line--bottom{
        right: 0px;
    }

    .menu-show .btn-menu-toggle__line {
        width: 18px;
        height: 2px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .menu-show .btn-menu-toggle__line--top {
        bottom: 0;
        transform: rotate(-225deg)
    }

    .menu-show .btn-menu-toggle__line--center {
        opacity: 0;
        transform: rotate(-360deg)
    }

    .menu-show .btn-menu-toggle__line--bottom {
        top: 0;
        transform: rotate(-315deg)
    }

    .menu-show .header {
        flex-grow: 1;
        display: flex;
        position: relative
    }

    .menu-show .header .center {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start
    }

    .menu-show .header__menu,
    .menu-show .header__social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-grow: 1
    }

    .menu-show .header__social {
        flex-direction: column
    }


    .header__menu.mobile.active{
        display: block;
        width: 100%;
        position: fixed;
        inset: 0;
        height: 100%;
        background-color: white;
        z-index: 999;
    }

    .bannerImage.invest{
        top: 50% !important;
    }
    
}

@media (max-width:800px) {
    .first-screen__img {
        width: 100%;
        border-radius: 0
    }
}

@media (max-width:860px) {
    :root {
        --indent: 24px
    }

    .hidden-sm {
        display: none !important
    }

    .visible-sm {
        display: block;
        width: 100%;
    }
    /* .header__menu.mobile{
        display: block;
    } */
    .getStartedBtn{
        position: relative;
        display: none !important;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
    }
    .getStartedBtn2{
        display: block !important;
        width: 160px;
        position: absolute;
        right: 50px;
        margin: 0 18px !important;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: var(--accentSecondary);
    }
    .getStartedBtn2 .menu__link_with_arrow{
        background-color: var(--accentSecondary);
        color: white;
    }
    .getStartedBtn2 .menu__item_arrow{
        right: 16px;
    }
    .center {
        width: 480px
    }

    .hash {
        margin-bottom: 8px
    }

    .h1,
    .h2,
    .h3 {
        font-size: 26px;
        line-height: 28px
    }

    .h2,
    .h3 {
        line-height: 30px
    }

    .h3 {
        line-height: 32px
    }

    .btn {
        height: 48px;
        font-size: 18px;
        line-height: 48px
    }

    .btn--grad span {
        padding-left: 14px
    }

    .btn--demo {
        width: 100%
    }

    .btn--play,
    .btn--play svg {
        width: 72px;
        height: 72px
    }

    .input {
        padding: 18px 14px;
        font-size: 16px;
        line-height: 20px;
        height: 56px
    }

    

    .footer__logo svg{
        width: 80px;
        height: 29px
    }

    .first-screen__desc br,
    .first-screen__intro_deck br,
    .menu-show .footer,
    .menu-show .main {
        display: none
    }

    

    .footer .center {
        display: block;
        align-items: center;
        padding-bottom: 34px
    }

    .footer__logo {
        width: auto;
        /* order: 1; */
        padding-bottom: 4px
    }

    .footer__social {
        padding: 20px 0;
        width: 100%;
    }

    .footer__menu {
        order: 3;
        margin: 22px 0 0;
    }

    .footer__menu .menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        padding-bottom: 1rem;
    }

    .footer__menu .menu__item {
        margin: 14px 0;
        width: 30%
    }

    .footer__menu .menu__item:nth-child(2) {
        width: 60%
    }

    .footer__copyright {
        order: 2;
        width: auto;
        margin: 0
    }

    .modal {
        padding: var(--indent)
    }

    .modal__item--thank {
        padding: 52px 48px 40px;
        width: 360px
    }

    .modal__item--thank p {
        font-size: 16px;
        line-height: 22px;
        margin: 10px auto 0;
        max-width: 256px
    }

    .modal__item--video {
        width: 560px;
        height: 315px
    }

    .first-screen {
        padding: 170px 0 20px
    }

    .first-screen__title {
        margin-bottom: 15px
    }

    .typewriterContainer,
    .first-screen__intro_deck {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 41px
    }

    .first-screen__intro_deck {
        padding-top: 0
    }

    .first-screen__btns {
        margin-bottom: 45px;
        display: block
    }

    .first-screen__btns .btn {
        margin: 20px 0
    }

    .first-screen__img {
        height: 300px;
        width: 480px;
        border-radius: 18px
    }

    .about {
        padding-top: 30px
    }

    .about__list {
        margin: 32px 0;
        display: block
    }

    .about__item {
        margin: 16px 0;
        width: 100%;
        padding: 30px 20px 30px 40px
    }

    .about__ico {
        margin-bottom: 28px
    }

    .about__head {
        font-size: 28px
    }

    .try-demo {
        margin-top: 92px;
        padding: 59px 0 52px
    }

    .try-demo__content {
        width: 100%;
        text-align: center
    }

    .try-demo__content p {
        max-width: 200px;
        margin: auto
    }

    .try-demo__img {
        position: static;
        margin: -85px auto 34px
    }

    .try-demo__img img {
        position: static;
        width: auto;
        height: auto;
        margin: auto
    }

    .try-demo__btn {
        margin-top: 22px
    }

    .try-demo__btn .btn {
        width: 100%
    }

    .join-demo__btn .btn::after,
    .try-demo__btn .btn::after {
        right: 50%;
        margin-right: -80px
    }

    .roadmap {
        padding: 30px 0;
        margin: 45px 0 6px
    }

    .roadmap__table {
        margin: 0;
        padding: 0;
        background: 0 0
    }

    .roadmap__row {
        display: block;
        margin: 16px 0
    }

    .roadmap__thead {
        width: auto;
        display: flex;
        align-items: baseline
    }

    .roadmap__thead::after {
        position: relative;
        bottom: 0;
        order: 2;
        margin-left: 12px
    }

    .roadmap__year {
        margin: 0;
        order: 3;
        text-align: right;
        flex-grow: 1
    }

    .roadmap__quarter {
        font-size: 26px;
        order: 1
    }

    .roadmap__tbody {
        flex-wrap: wrap;
        padding: 14px
    }

    .roadmap__td {
        width: 50%;
        min-height: 0;
        display: block;
        padding: 14px 10px !important
    }

    .token {
        padding: 30px 0
    }

    .token__pic {
        display: none
    }

    .token__row {
        margin: 0
    }

    .token__col.is-active {
        display: block
    }

    .token__col,
    .token__col .h3 {
        display: none
    }

    .token__col:first-child {
        margin: 0
    }

    .token__tabs {
        display: flex;
        flex-wrap: wrap;
        border-radius: 6px;
        overflow: hidden;
        margin: 32px 0 64px;
        border: 2px solid var(--secondary)
    }

    .join-demo__btn .btn {
        width: 100%
    }

    .team {
        padding: 30px 0 18px
    }

    .cases {
        padding: 30px 0
    }

    .cases__img {
        margin: 10px 0 0
    }

    .cases__img img {
        max-width: none;
        margin: auto
    }

    .mobile-app {
        margin-top: 30px
    }

    .mobile-app__box {
        display: block
    }

    .mobile-app__content {
        padding: 36px 0;
        width: 100%
    }

    .mobile-app__content .hash {
        margin-bottom: 16px
    }

    .mobile-app__text {
        margin: 17px 0 0;
        max-width: 150px;
        font-size: 16px;
        line-height: 22px
    }

    .mobile-app__img {
        position: static;
        margin: 0px -16px 0
    }

    .mobile-app__img-phone {
        position: relative;
        max-height: 200px !important;
        height: auto;
        margin: auto;
        left: 0;
        margin-bottom: 20px;
    }

    .mobile-app__img-purpur {
        width: 96px;
        height: auto;
        left: 50%;
        bottom: 4px;
        margin-left: 70px
    }

    .mobile-app__img-gold {
        width: 76px;
        height: auto;
        bottom: 98px;
        left: 50%;
        margin-left: -90px
    }

    .subscribe {
        padding: 66px 0
    }

    .subscribe__title {
        line-height: 28px
    }

    .subscribe__fieldset {
        margin-top: 36px
    }

    .subscribe__fieldset .input {
        padding-right: 14px
    }

    .subscribe__fieldset .btn {
        position: relative;
        width: 100%;
        margin-top: 20px
    }

    .teamFounderContainer{
        flex-direction: column;
    }
    .founderContentContainer{
       padding: 0 !important;
        padding-top: 16px !important;
    }

    .footer .center{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width:500px) {
    .first-screen__img {
        width: 100%;
        border-radius: 0
    }
    .footer__menu .menu{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .team__list__block{
        grid-template-columns: .5fr .5fr;
    }

    .btn-menu-toggle{
        top: 24px;
    }
    .header__logo_image.mobile{
        display: block;
    }
    .header__logo_image.mobile.hover{
        display: none;
    }
    .header__logo_image.desktop{
        display: none;
    }
    .logo:hover .header__logo_image.mobile{
        display: none;
    }
    .logo:hover .header__logo_image.mobile.hover{
        display: block;
    }
    .header__logo_image.desktop.hover{
        display: none !important;
    }
}

@media (max-width:359px) {
    :root {
        --indent: 16px
    }
}

@media (max-width:1492px) {
    .footer .center {
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 38px;
        padding-bottom: 38px
    }
}

@media (max-width:887px) {
    .team__item {
        margin: 60px 15px;
        display: block
    }
}



/* for signin and signup page */
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.each-section{
    width: 100%;
}
.each-section.first{
    padding-top: 200px;
    padding-bottom: 100px;
}
.auth-form{
    width: 100%;
    max-width: 420px;
}
.auth-form__title{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary);
}
.auth-form__body{
    width: 100%;
    background-color: var(--primary);
    padding: 1.5rem 1rem;
    border-radius: 4px;
}
.auth-form__note{
    margin-bottom: 1rem;
}
.auth-form__mutlitple-input-container{
    width: 100%;
    display: flex;
}
.auth-form__mutlitple-input-container .auth-form__input-container{
    flex: 1;
    margin-right: .5rem;
}
.auth-form__mutlitple-input-container .auth-form__input-container:last-child{
    margin-right: 0;
}
.auth-form__input-container{
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}
.auth-form__input-container:last-child{
    margin-bottom: 0;
}
.auth-form__input-container label{
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: block;
}
.auth-form__input-with-img{
    position: relative;
}
.auth-form__input-container input{
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 4px;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: black;
}
.auth-form__input-container input:focus{
    border: 1px solid #04f604;
}
.auth-form__input__img{
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: auto;
    cursor: pointer;
}
.auth-form__body__footer{
    display: flex;
    justify-content: space-between;
}
.remember-login-container{
    margin-right: .5rem;
    display: flex;
    align-items: center;
}
.remember-login-container input{
    cursor: pointer;
}
.remember-login-container label{
    margin-left: .5rem;
    cursor: pointer;
}
.auth-form__submit-button{
    outline: none;
    border: none;
    background-color: var(--accentSecondary);
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--primary);
    white-space: nowrap;
}
.auth-form__submit-button.large{
    margin-top: 1rem;
    width: 100%;
}

.auth-form__footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
}
.auth-form__footer a{
    color: white;
    text-decoration: none;
    margin-right: .5rem;
}
.auth-form__footer a:last-child{
    margin-right: 0;
}
.auth-form__footer a:hover{
    text-decoration: underline;
}

.auth-form__footer.signup-page{
    justify-content: center;
    color: var(--primary);
}
.auth-form__footer.signup-page p{
    margin-right: .5rem;
}

.i-agree-container{
    margin-right: .5rem;
    font-size: 14px;
}
.i-agree-container input{
    cursor: pointer;
}
.i-agree-container label{
    margin-left: .5rem;
    cursor: pointer;
}
.i-agree-container label a{
    color: #02ac02;
}

.form-warning{
    color: red;
}


.menu__hidden_items{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
}
.menu__item:hover .menu__hidden_items{
    display: block;
}
.menu__hidden_items .menu{
    display: block;
    width: 220px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 6px #d6d6d6;
    border-radius: 4px;
    padding: 8px 0;
}
.header2 .menu__hidden_items .menu{
    background-color: var(--primary);
    /* box-shadow: 0 0 6px #52863d; */
}
.header2 .menu__hidden_items .menu__link{
    color: #000;
}
.header2 .menu__hidden_items .menu__item{
    position: relative;
}
.header2 .menu__hidden_items .menu__item::after{
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    width: 12px;
    height: 12px;
    background: url(../img/icon-external-link.png) no-repeat;
    background-size: cover;
}
.menu__hidden_items .menu__item{
    padding: 4px 8px;
}
.buttonT1{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #13131f;
    color: white !important;
}

.typewriter{
    /* border-right: 2px solid #13131f;  */
    width: fit-content;
    position: relative;
}
.typyingCursor{
    position: relative;
}
.typyingCursor::after{
    position: absolute;
    right: -10px;
    bottom: 0;

    content: "|";
    font-size: 30px;
    color: #13131f;
    animation: blink-caret .75s infinite step-start;
}
@keyframes blink-caret {
    from, to { opacity: 0;}
    50% { opacity: 1; }
}


.bannerImage{
    height: 100%;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
}
.bannerImage.invest{
    top: calc(50% + 48px);
    max-height: 500px;
}




.range-slider {
    /* background-color: white; */
    /* padding: 2rem 4rem; */
    border-radius: 8px;
    /* box-shadow: 0px 3px 12px rgba(44, 44, 44, 0.2); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.range-slider__slider {
    width: 100%;
    max-width: 750px;
}
.range-slider__slider input {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 0.25rem;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s;
    /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 100px;
}
.range-slider__slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--accentPrimary);
    cursor: pointer;
    border-radius: 100px;
    border: 0.25rem solid var(--accentSecondary);
}
.range-slider__slider input::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--accentPrimary);
    cursor: pointer;
    border-radius: 100px;
    border: 0.25rem solid var(--accentSecondary);
}


.caret{
    color: var(--primary);
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-left: 2px;
    margin-top: 10px;
    border-top-color: #fff!important;
}

.referenceLink{
    color: var(--accentSecondary);
}
.teamFounderContainer{
    display: flex;
    margin-top: 32px;
    align-items: center;
}
.founderImageContainer{
    height: 100%;
    text-align: center;
}
.founderImageContainer img{
    max-width: 170px;
    width: 100%;
}
.founderName{
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}
.founderContentContainer{
    flex: 1;
    /*background-color: gray;*/
    height: 100%;
    padding: 16px;
    padding-left: 32px;
}
.founderContentContainer p{
    margin-bottom: 16px;
}
.products{
    padding-top: 150px;
}
.mt-2{
    margin-top: 1em;
}
.headline-2{
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    margin: 16px 0 10px 0;
}


/* custom table css */
.tableWithTitle{
    margin-bottom: 24px;
}
.eachTableContainer{
    width: 100%;
    box-shadow: 0 6px 6px rgb(0 0 0 / 16%);
    overflow-x: auto;
}
.table2in1{
    width: 100%;
}
.normalTables .table2in1 .tableWithTitle:first-child{
    margin-right: 24px;
    width: 30%;
}
.normalTables .table2in1 .tableWithTitle:last-child{
    width: calc(70% - 24px);
}
.normalTables .customTable tbody tr:last-child td{
    font-weight: normal;
}

.customTable{
    min-width: 700px;
    border: 1px solid rgb(238, 238, 238);
    border-top-width: 3px;
    border-collapse: collapse; 
}
.customTable tr{
    border-bottom: 1px solid #ccc;
}
.customTable thead tr{
    border-bottom: 1px solid #ccc !important;
}
.customTable tbody tr:last-child{
    border-bottom: none;
}
.customTable th{
    background-color: white;
    padding: .875rem 1rem;
    border-right: 1px solid #ccc;
    font-weight: 400;
}
.customTable th:last-child{
    border-right: none;
}
.customTable td{
    background-color: var(--colorLightGray);
    padding: .875rem 1rem;
    border-right: 1px solid #ccc;
}
.customTable td:last-child{
    border-right: none;
}
.customTable tbody tr:last-child td{
    font-weight: 500;
    font-size: 16px;
}
.customTable.noBold tbody tr:last-child td{
    font-weight: inherit;
    font-size: inherit;
}

.customTable .tableSpecialCoumn{
    border-left: 3px solid #db1222 !important;
    border-right: 3px solid #db1222 !important;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
}
.customTable .tableSpecialCoumn.top{
    border-top: 3px solid #db1222 !important;
}
.customTable .tableSpecialCoumn.bottom{
    border-bottom: 3px solid #db1222 !important;
}

.watchList .customTable td:nth-child(3){
    color: var(--siteColor2);
}
.customTable .special{
    color: #db1222 !important;
}
.customTable .default{
    color: var(--siteColor2) !important;
}


.topInfo {
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    padding: 8px 16px;
}
.topInfo a{
    color: inherit;
    text-decoration: none;
}
.topInfo a.disabled{
    opacity: .6;
}



/* animation */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }